.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 16px;
    width: 400px;
}

.modal-container h2 {
    margin-bottom: 16px;
}

.input-form {
    margin-bottom: 6px;
}

.close-button {
    margin-top: 16px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.button-container > * {
    margin-left: 8px;
}